Repository rhoulihan/iris: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint-frontend, svelte-check, npm-audit

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

svelte-check:
  name: svelte-check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (security vulnerabilities)
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

fix(ci): Install Node.js and frontend dependencies before pre-commit
  .github/workflows/test.yml
Due: none

fix(frontend): Apply prettier formatting and fix ESLint security warning
  frontend/src/lib/services/api.ts
  frontend/src/lib/stores/theme.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/validators.ts
Due: prettier-frontend, eslint-frontend

fix(tests): Add snapshot_duration_hours to LOB cliff integration test
  CLAUDE.md
  tests/integration/test_end_to_end_pattern_detection.py
Due: none

fix(tests): Mark Oracle simulation tests with @pytest.mark.oracle
  tests/simulations/test_pipeline_simulations.py
Due: none

fix(ci): Exclude Oracle tests from coverage-check job
  .github/workflows/test.yml
Due: none

feat(web-console): Complete Sprint 1.2 - Base UI Components & Layout
  README.md
  docs/WEB_CONSOLE_IMPLEMENTATION_PLAN.md
  frontend/eslint.config.js
  frontend/src/lib/components/layout/Footer.svelte
  frontend/src/lib/components/layout/Header.svelte
  frontend/src/lib/components/layout/Sidebar.svelte
  frontend/src/lib/components/layout/index.ts
  frontend/src/lib/components/ui/Alert.svelte
  frontend/src/lib/components/ui/Badge.svelte
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/components/ui/Card.svelte
  frontend/src/lib/components/ui/Checkbox.svelte
  frontend/src/lib/components/ui/EmptyState.svelte
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/lib/components/ui/Loading.svelte
  frontend/src/lib/components/ui/Modal.svelte
  frontend/src/lib/components/ui/Select.svelte
  frontend/src/lib/components/ui/Table.svelte
  frontend/src/lib/components/ui/ThemeToggle.svelte
  frontend/src/lib/components/ui/index.ts
  frontend/src/lib/stores/theme.ts
  frontend/src/routes/+layout.svelte
Due: prettier-frontend, eslint-frontend, svelte-check

feat(web-console): Add component showcase page
  README.md
  frontend/src/routes/components/+page.svelte
Due: prettier-frontend, eslint-frontend, svelte-check

docs: Update README last modified date to 2025-11-24
  README.md
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(js|ts|svelte|json|css|html)$, but not: ^frontend/(dist|build|\.svelte-kit|node_modules)/
  eslint-frontend: any of: ^frontend/.*\.(js|ts|svelte)$, but not: ^frontend/(dist|build|\.svelte-kit|node_modules)/
  svelte-check: any of: ^frontend/.*\.svelte$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
